{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Manage Options {% endblock %} 

{% block nav_strategies %}
    active
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" 
          href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"/>
{% endblock stylesheets %}

{% block content %}
   <div class="row">
       <div class="col-12">
           <div class="card">
               <div class="card-header">
                    <h2 class="card-title">Call/Put Options</h2>
               </div>
               <div class="card-body">
                    <a href="{% url 'strategies:add_basic' %}" class="btn btn-primary mb-4">Add Call/Put</a>
                    {% if basics %}
                        <table id="basicTable" width="100%"></table>
                    {% else %}
                        <h4>No call/put options available.</h4>
                    {% endif %}
               </div>
           </div>

           <div class="card pt-4">
               <div class="card-header">
                    <h2 class="card-title">Spread Options</h2>
               </div>
               <div class="card-body">
                    <a href="{% url 'strategies:add_spread' %}" class="btn btn-primary mb-4">Add Spread</a>
                    {% if spreads %}
                        <h3>Hi</h3>
                    {% else %}
                        <h4>No spread options available.</h4>
                    {% endif %}
               </div>
           </div>
       </div>
   </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $('#basicTable').dataTable( {
            "data": [
                {
                                "name":       "Tiger Nixon",
                                "position":   "System Architect",
                                "salary":     "{,120",
                                "start_date": "2011/04/25",
                                "office":     "Edinburgh",
                                "extn":       5421
                            },
                {
                                "name": "Garrett Winters",
                                "position": "Director",
                                "salary": "5300",
                                "start_date": "2011/07/25",
                                "office": "Edinburgh",
                                "extn": "8422"
                            
                },
                    ],
            "columns": [
                        { "data": "name"  },
                        { "data": "position"  },
                        { "data": "office"  },
                        { "data": "extn"  },
                        { "data": "start_date"  },
                        { "data": "salary"  }
                    
            ]
        } );
    </script>
{% endblock javascripts %}
