{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

{% block nav_home %}
    active
{% endblock %}

{% block stylesheets %}
    <style>
    #chartdiv_account_performance {
        width: 100%;
        height: 500px;
    }
    #chartdiv_gainers_ticker_performance, #chartdiv_losers_ticker_performance {
        width: 100%;
        height: 1000px;
    }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="row mb-3">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">All Accounts</h5>
                <h2 class="card-title">Performance</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="perf_all">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="perf_ytd">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">YTD</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="perf_month">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Month</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div id="chartdiv_account_performance"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart mb-3">
          <div class="card-header">
            <h5 class="card-category">Ticker Performance</h5>
            <h3 class="card-title">Top Gainers</h3>
          </div>
          <div class="card-body">
              <div id="chartdiv_gainers_ticker_performance"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart mb-3">
          <div class="card-header">
            <h5 class="card-category">Ticker Performance</h5>
            <h3 class="card-title">Top Losers</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <div id="chartdiv_losers_ticker_performance"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <script>
        var chart;
        $.ajax({
            url: '{% url "get_option_data" %}',
            success: function (data) {
                var perf_all = data['perf_all']
                var perf_ytd = data['perf_ytd']
                var perf_month = data['perf_month']
                var perf_gainers_ticker = data['perf_gainers_ticker']
                var perf_losers_ticker = data['perf_losers_ticker']

                am4core.ready(function() {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);

                    build_account_chart(perf_all);
                    build_gainers_ticker_chart(perf_gainers_ticker);
                    build_losers_ticker_chart(perf_losers_ticker);

                }); // end am4core.ready()

                $("#perf_all").click(function() {
                    chart.data = perf_all
                });
                $("#perf_ytd").click(function() {
                    chart.data = perf_ytd
                });
                $("#perf_month").click(function() {
                    chart.data = perf_month
                });

            },
            error: function(xhr, status, error){
                console.log(error)
            },
        })

        function build_account_chart(perf_all) {
            /*
             * ACCOUNT PERFORMANCE
             */

            // Create chart instance
            chart = am4core.create("chartdiv_account_performance", am4charts.XYChart);

            // Add data
            chart.data = perf_all
            // Add currency on y axis
            chart.numberFormatter.numberFormat = '$#,###';

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.startLocation = 0.5;
            dateAxis.endLocation = 0.5;
            dateAxis.renderer.labels.template.fill = am4core.color("#fff");
            dateAxis.renderer.grid.template.stroke = "grey";
            dateAxis.renderer.grid.template.strokeOpacity = .3;

            // Create value axis
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.labels.template.fill = am4core.color("#fff");
            valueAxis.renderer.grid.template.stroke = "grey";
            valueAxis.renderer.grid.template.strokeOpacity = .3;

            // Create gradient colors
            let fillModifier = new am4core.LinearGradientModifier();
            fillModifier.opacities = [1, 0];
            fillModifier.offsets = [0, 1];
            fillModifier.gradient.rotation = 90;

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "profit";
            series.dataFields.dateX = "date";
            series.strokeWidth = 3;
            series.tooltipText = "P/L: {valueY.value}";
            series.fillOpacity = .3;
            series.fill = am4core.color('#46c35f')
            series.stroke = am4core.color('#46c35f')
            series.segments.template.fillModifier = fillModifier;

            // Create a range to change stroke for values below 0
            var range = valueAxis.createSeriesRange(series);
            range.value = 0;
            range.endValue = -9999999;
            range.contents.stroke = am4core.color('maroon');
            range.contents.fill = range.contents.stroke;
            range.contents.fillOpacity = 1;

            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.xAxis = dateAxis;

            series.tooltip.getFillFromObject = false;
            series.tooltip.adapter.add("x", (x, target)=>{
                if(series.tooltip.tooltipDataItem.valueY < 0){
                    series.tooltip.background.fill = am4core.color('maroon')
                }
                else{
                    series.tooltip.background.fill = am4core.color('#46c35f')
                }
                return x;
            })
        }

    function build_gainers_ticker_chart(perf_gainers_ticker) { 
        /*
         * GAINERS TICKER PERFORMANCE
         */

        var chart_ticker = am4core.create("chartdiv_gainers_ticker_performance", am4charts.XYChart);
        chart_ticker.data = perf_gainers_ticker

        let labelBullet = config_ticker_performance_chart(chart_ticker)
        labelBullet.label.horizontalCenter = "left";
        labelBullet.label.dx = 10;
    }

    function build_losers_ticker_chart(perf_losers_ticker) { 
        /*
         * LOSERS TICKER PERFORMANCE
         */

        var chart_ticker = am4core.create("chartdiv_losers_ticker_performance", am4charts.XYChart);
        chart_ticker.data = perf_losers_ticker

        let labelBullet = config_ticker_performance_chart(chart_ticker)
        labelBullet.label.horizontalCenter = "right";
        labelBullet.label.dx = -10;

    }

    function config_ticker_performance_chart(chart_ticker) {

        var categoryAxis = chart_ticker.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "ticker";
        categoryAxis.renderer.minGridDistance = 1;
        categoryAxis.renderer.inversed = true;
        categoryAxis.renderer.grid.template.disabled = true;
        categoryAxis.renderer.labels.template.fill = am4core.color("#fff");

        var valueAxis = chart_ticker.xAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.labels.template.fill = am4core.color("#fff");

        var series = chart_ticker.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryY = "ticker";
        series.dataFields.valueX = "profit";
        series.tooltipText = "{valueX.value}"
        series.columns.template.propertyFields.fill = "color"
        series.columns.template.strokeOpacity = 0;
        series.columns.template.column.cornerRadiusBottomRight = 20;
        series.columns.template.column.cornerRadiusBottomLeft = 20;
        series.columns.template.column.cornerRadiusTopRight = 20;
        series.columns.template.column.cornerRadiusTopLeft = 20;


        var labelBullet = series.bullets.push(new am4charts.LabelBullet())
        labelBullet.label.text = "${valueX.value}";
        labelBullet.label.fill = am4core.color("#c2c2c2")
        labelBullet.locationX = 0;
        labelBullet.label.truncate = false;

        categoryAxis.sortBySeries = series;

        // Add cursor
        chart_ticker.cursor = new am4charts.XYCursor();
        chart_ticker.cursor.xAxis = categoryAxis;

        series.tooltip.getFillFromObject = false;
        series.tooltip.adapter.add("x", (x, target)=>{
            if(series.tooltip.tooltipDataItem.valueX < 0){
                series.tooltip.background.fill = am4core.color('maroon')
            }
            else{
                series.tooltip.background.fill = am4core.color('#46c35f')
            }
            return x;
        })
        // Disable zoom and panning
        chart_ticker.cursor.behavior = "none";

        return labelBullet
    }
      
    </script>

{% endblock javascripts %}
