{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Update Broker {% endblock %} 

{% block nav_broker %}
    active
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
   <div class="row">
       <div class="col-12">
           <div class="card">
               <div class="card-header">
                    <h2 class="card-title">Update Broker</h2>
               </div>
               <div class="card-body">
                   <form method="post">
                       {% csrf_token %}
                       {% crispy form %}
                   </form>
               </div>
           </div>
       </div>
   </div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
