<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}

        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png"          href="{% static 'assets/img/favicon.png'    %}">

        <title>
            Options Tracker - {% block title %}{% endblock %} 
        </title>

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <link href="{% static 'assets/css/corona/materialdesignicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/corona/vendor.bundle.base.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/corona/style.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/toastr.min.css' %}" rel="stylesheet" />

        <!-- Specific Page CSS goes HERE  -->
        {% block stylesheets %}{% endblock stylesheets %}

    </head>

    <body>
        <div class="container-scroller">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="text-center sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                    <a class="sidebar-brand brand-logo" href="{% url 'home' %}"><img src="{% static 'assets/img/logo.svg' %}" alt="logo"></a>
                    <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'assets/img/logo-mini.svg' %}" alt="logo"></a>
                </div>
                <ul class="nav">
                    <li class="nav-item account-dropdown">
                    <a class="nav-link" data-toggle="collapse" href="#account-dropdown" aria-expanded="false" aria-controls="account-dropdown">
                        <img class="img-xs rounded-circle" src="{% static 'assets/img/pic-1.png' %}" alt="">
                        <p class="mb-0 text-light">{{ user.username }}</p>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="account-dropdown">
                        <ul class="nav flex-column sub-menu pl-0">
                        <li class="nav-item">
                            <a class="nav-link pl-5" href="{% url 'logout' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-power"></i>
                            </span>
                            <span class="menu-title">Logout</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                    </li>
                    <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'home' %}">
                            <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'broker:manage' %}">
                            <span class="menu-icon">
                            <i class="mdi mdi-account-circle"></i>
                            </span>
                            <span class="menu-title">Brokers</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'strategies:manage' %}">
                            <span class="menu-icon">
                            <i class="mdi mdi-swap-horizontal-bold"></i>
                            </span>
                            <span class="menu-title">Options</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="container-fluid page-body-wrapper">
                <nav class="navbar p-0 fixed-top d-flex flex-row">
                    <div class="text-center navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'assets/img/logo-mini.svg' %}" alt="logo"></a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <input type="text" class="form-control" placeholder="Search Here..">
                        </form>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                    </div>
                </nav>

                <div class="main-panel">
                    <div class="content-wrapper">
                        {% block content %}{% endblock content %}
                    </div>
                    {# <footer class="footer"> #}
                    {#     <div class="d-sm-flex justify-content-center justify-content-sm-between"> #}
                    {#     <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span> #}
                    {#     <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span> #}
                    {#     </div> #}
                    {# </footer> #}
                </div>
            </div>

        </div>


        <!--   Core JS Files   -->
        <script src="{% static 'assets/js/corona/vendor.bundle.base.js' %}"></script>
        <script src="{% static 'assets/js/corona/off-canvas.js' %}"></script>
        <script src="{% static 'assets/js/corona/hoverable-collapse.js' %}"></script>
        {# <script src="{% static 'assets/js/corona/misc.js' %}"></script> #}
        {# <script src="{% static 'assets/js/corona/settings.js' %}"></script> #}
        {# <script src="{% static 'assets/js/corona/todolist.js' %}"></script> #}
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/toastr.min.js' %}"></script>

        <script>

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        </script>
        
        {% if messages %}
            {% for message in messages %}
                <script type=text/javascript>
                {% if message.tags == 'danger' %}
                    toastr.error('{{ message }}')</script>
                {% else %}
                    toastr.{{ message.tags }}('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}{% endblock javascripts %}

    </body>

</html>
